server:
  port: 8080

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
  endpoint:
    health:
      show-details: always
      show-components: always

spring:
  application:
    name: simonrowe-backend
  threads:
    virtual:
      enabled: true
  data:
    mongodb:
      uri: mongodb://localhost:27017/simonrowe
  elasticsearch:
    uris: http://localhost:9200
  kafka:
    bootstrap-servers: localhost:9092
  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: a13da4001@smtp-brevo.com
    password: ${BREVO_SMTP_PASSWORD:xxxxxx}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

contact:
  email:
    from: contact-us@simonrowe.dev
    to: simon.rowe@gmail.com
  recaptcha:
    secret-key: ${RECAPTCHA_SECRET_KEY:}
    verify-url: https://www.google.com/recaptcha/api/siteverify
